<% if @collaborator.destroyed? %>
	$('#collaborator-' +<%= @collaborator.id %>).fadeOut(500);
<% else %>
	$('#collaborator-' +<%= @collaborator.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
<% end %>